.footer-welcome {
    display: grid;
    grid-area: footer;
    grid-template-rows: 40px 40px;
    grid-gap: 5px;
    place-items: center;
    height: 100px;
    background-color: #004355;
}

.footer-welcome span {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
}