.header-welcome {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 20px;
    background-color: #fb7145;
    height: 70px;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: rgb(246, 64, 64);
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    border: none;
    cursor: pointer;
    display: grid;
    /* background-color: #e2850c; */
    grid-template-columns: 0.5fr 0.5fr;
    place-items: center;
    grid-gap: 10px;
  }
  
  .dropbtn:hover {
    color: #3684f1;
    transition: 1s;
    border-bottom: 3px solid #ec8251;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
  
  .drop-down-content .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown img {
    height: 30px;
    width: 30px;
  }
  
  .dropdown-content button {
    color: #b61e1e;
    border: none;
    width: 100%;
    background-color: #e2850c;
    display: grid;
    place-self: center;
    cursor: pointer;
    font-weight: 700;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content span {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(236, 39, 39);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.header-welcome .header-group-1 span.special-logo {
    font-size: 24px;
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 10px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-welcome .header-group-1 span {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.header-group-2 button {
    padding: 10px 15px;
    border: none;
    background-color: rgba(246, 51, 37, 0.874);
    height: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

.header-group-1 {
    display: grid;
    grid-template-columns: repeat(3, 0.33fr);
    place-items: center;
}

.header-group-2 {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 20px;
    place-items: center;
}