header.header {
    grid-area: header;
    
    width: 100%;
    display: grid;
    grid-template: 
    "header-sub-1 header-sub-2 header-sub-3" 1fr /
    0.2fr 0.6fr 0.2fr; /* this is where the bug was wich cause header problems, i had all three at 1fr 1fr 1fr but when i tried auto in the last part all went perfect when responsive*/
    background-color: #f9f9f9;
    grid-gap: 15px;
    /* position: fixed;
    z-index: 1; */
}

header.mini-header {
    grid-area: mini-header;
    
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    /* position: relative;
    z-index: 1; */
}

header.header .header-sub-1 {
    grid-area: header-sub-1;
    
    display: grid;
    place-items: center;
    justify-content: center;
    /* align-content: start; */
}

header.header .header-sub-2 {
    grid-area: header-sub-2;
    
    display: grid;
    place-items: center;
    justify-content: center;
    /* align-content: start; */
}

header.header .header-sub-3 {
    grid-area: header-sub-3;
    
    display: grid;
    place-items: center;
    justify-content: center;
    /* align-content: start; */
    width: 100%;
}

header.header .header-sub-1 .header-group-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 10px;
    width: 100%;
}

header.header .header-sub-2 .header-group-2 {
    display: grid;
    grid-template-columns: 550px auto;
    place-items: center;
    justify-content: center;
    grid-gap: 10px;
    width: 100%;
}

header.header .header-sub-3 .header-group-3 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    /* justify-content: center; */
    /* padding-right: 10px; */
    width: 100%;
}

header.header .header-sub-3 .header-group-3 button {
    text-transform: uppercase;
    border: 1px solid #065fd4;
    background-color: #fff;
    font-size: 14px;
    padding: 5px 5px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    color: #065fd4;
    /* margin-right: 10px; */
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 150px;
}

header.header .header-sub-3 .header-group-3 button i {
    color: #065fd4;
}

header.header .header-sub-3 .header-group-3 button:hover i {
    color: #e0e4eb;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

header.header .header-sub-3 .header-group-3 button:hover {
    background-color: #065fd4;
    color: #fff;
    border: 1px solid #111111;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

header.header .header-sub-2 .header-group-2 .button-search {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    width: 100%;
}

header.header .header-sub-2 .header-group-2 a i{
    font-size: 26px;
}


header.header .header-sub-2 .header-group-2 input {
    font-size: 16px;
    background-color: #fff;
    color: #111111;
    letter-spacing: normal;
    font-weight: normal;
    border: 1px solid #b1b7c0;
    padding: 8px 10px;
    width: 100%;
}

header.header .header-sub-2 .header-group-2 button {
    padding: 8px 10px;
    font-size: 16px;
    background-color: #f5eded;
    border: 1px solid #1e1f20;
    cursor: pointer;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

header.header .header-sub-2 .header-group-2 input:active {
    border: 1px solid #065fd4;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: rgb(246, 64, 64);
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    border: none;
    cursor: pointer;
    display: grid;
    /* background-color: #e2850c; */
    grid-template-columns: 0.5fr 0.5fr;
    place-items: center;
    grid-gap: 10px;
  }
  
  .dropbtn:hover {
    color: #3684f1;
    transition: 1s;
    border-bottom: 3px solid #ec8251;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
  
  .drop-down-content .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown img {
    height: 30px;
    width: 30px;
  }
  
  .dropdown-content button {
    color: #b61e1e;
    border: none;
    width: 100%;
    background-color: #e2850c;
    display: grid;
    place-self: center;
    cursor: pointer;
    font-weight: 700;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content span {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(236, 39, 39);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .videoManiaLogo {
      padding-left: 30px;
      cursor: pointer;
  }