.genre-wrapper-menus {
    display: grid;
    grid-template: 
    "header" 100px
    "genre-ribbon-1" auto
    "footer" 100px / 
    1fr;

    height: auto;
    grid-gap: 60px;
    width: 100%;
    background-color: #004355;
}

.genre-ribbon-1 {
    grid-area: genre-ribbon-1;
    display: grid;
    grid-template-rows: 0.9fr 0.1fr;
    height: auto;
    grid-gap: 20px;
}

.image-ribbon-1-genre-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    grid-gap: 5px;
    place-items: center;
    place-content: center;
    height: auto;
}

.movie-item-genre {
    /* padding-top: 20px;
    border-top: 3px solid #5ad2f3; */
    display: grid;
    grid-template-rows: 0.7fr 0.1fr 0.1fr 0.1fr;
    grid-gap: 10px;
    cursor: pointer;
}

.movie-item-genre:hover
{
    transform: scale(1.1);
    margin-right: 3%;
    margin-left: 3%;
    transition: 1s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.movie-item-genre span {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.movie-item-genre .imdb-span {
    font-size: 14px;
    font-weight: 800;
    color: #f03636;
    display: grid;
    place-items: center;
}