.movie-item {
    display: grid;
    grid-template-rows: 0.7fr 0.1fr 0.1fr 0.1fr;
    grid-gap: 10px;
    cursor: pointer;
}

.movie-item:hover
{
    transform: scale(1.1);
    margin-right: 3%;
    margin-left: 3%;
    transition: 1s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.movie-item span {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.movie-item .imdb-span {
    font-size: 14px;
    font-weight: 800;
    color: #f03636;
    display: grid;
    place-items: center;
}